@font-face {
    font-family: 'VAG Round';
    src: url('VAG-Round.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'VAG Light';
    src: url('VAGRounded-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

* {
  font-family: 'VAG Light', sans-serif;
}

/* NAV */
nav.container-fluid {
  background-color: rgb(206,227,248);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

div.nav-logo {
  display: flex;
  align-items: center;
}

div.nav-logo h1 {
  margin-left: 10px;
  font-size: 2.25em;
  font-family: 'VAG Round', sans-serif;
}

div.nav-logo img {
  height: 50px;
  width: auto;
}

div.newPostModal {
  position: absolute;
  top: 17px;
  right: 20px;
}

a.newPost.btn.btn-success {
  background-color: rgb(255,255,255);
  color: black;
  border: 1px solid black;
}

/* BODY */

img.img-fluid{
  width: 100%;
  height: auto;
}

img{
  width: 15px;
  height: auto;
  margin-bottom: 5px;
}

main.container-fluid.row {
  display: flex;
  justify-content: center;
}

p.post-description {
  margin-top: 20px;
}

p.post-other-details {
  margin-top: 10px;
}

span.post-title, span.vote-count {
  font-size: 1.25em;
}

span.post-title {
  margin-right: 10px;
  font-weight: bold;
}

span.vote-count {
  margin-left: 5px;
}

a.no-decorate {
  text-decoration: none;
  color: black;
}

img.comments-logo {
  margin-top: 2px;
  height: 10px;
  width: auto;
}
